<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test website</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="clound png">
    <h1>I'm xy.</h1>
    <h2>a <span><u>pro</u></span>grammer</h2>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud png">
    <img class="mountain" src="static/mountain.png" alt="mountain png">
</div>
<div class="middle-container">
    <div class="profile">
        <img src="static/resizedmizuki.jpg" alt="profile picture png" height="250">
        <h2>Hello.</h2>
        <p>I'm xy, a student at North Sydney Boys High School. Nice to meet you.</p>
    </div>
    <hr>
    <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
            <img class="codingimg" src="https://duckduckgo.com/i/4d837687.png" alt="coding">
            <h3>Coding</h3>
            <p>I started by learning Python when I was 11. I am currently still learning more every day!.</p>
        </div>
        <br>
        <div class="skill-row">
            <img class="genshinimg" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.YSPqvVQvkw9fPwSpN6__-wAAAA%26pid%3DApi&f=1" alt="skill2">
            <h3>Losing gacha rolls</h3>
            <p>I specialise in high pity 50/50 losses in Genshin Impact.</p>
        </div>
        <br>
        <div class="skill-row">
            <img class="mathimg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Triangle.NinePointCircle.svg/200px-Triangle.NinePointCircle.svg.png" alt="math">
            <h3>Maths</h3>
            <p>I really enjoy maths, and regularly participate in olympiads. Complex numbers are fun.</p>
        </div>
        <br>
        <hr>
    </div>
    <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you feel like sending a message or are just lonely</h3>
        <p style="padding: 30px; margin: 0 0 20px 0;">We can talk about maths, recommend manga, complain about gacha luck or whatever.</p>
        <a class="btn" href="mailto:exwaiiii@gmail.com">CONTACT ME</a>
    </div>

    <hr>
</div>
<br>

<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/exwaii">Twitter</a>
    <a class="footer-link" href="">Website</a>
    <p>© 2018 Name Surname.</p>
</div>

</body>
</html>